
body{
	background-color:black;
	color:white;
}

h1{
	color:white;
	font-size:60px;
	font-family:Lucida handwriting;
	text-align:center;
	left:700px;
	top:500px;
}

.section{
	color:white;
	font-size:48px;
	font-family:Calibri;
	text-align:center;
}

#portrait,#profiles{
	posotion:absolute;
	border-radius:99em;
	left: 766.9px;
	top: 263.7px;
  	width: 516.5px;
  	height: 516.5px;
}

a{
	display:block;
}
