
body{
	background-color:black;
	color:white;
}

h1{
	color:white;
	font-size:60px;
	font-family:Lucida handwriting;
	text-align:center;
	margin-top:500px;
	display:block;
}

.contents{
	color:white;
	font-size:48px;
	font-family:Calibri;
	text-align:center;
}

#portrait,#profiles{
	position:absolute;
	right:50%;
	left:50%;
	top:35%;
	margin:-150px 0 0 -150px;
	bottom:80%;
	border-radius:99em;
  	width: 300px;
  	height: 300px;
	
}

a:link, a:visited{
	display:block;
	font-size:30px;
	font-family:Calibri;
	padding: 14px 25px;
	background-color: blue;
	color:white;
	text-decoration: none;
	display: inline-block;
	text-align:center;
	/*margin-left:50%;
	margin-right:50%;*/
}

a:hover, a:active {
	background-color:white;
	color:black;
	text-decoration:none;
}
