
body{
	background-color:black;
	color:white;
}

h1{
	color:white;
	font-size:60px;
	font-family:Lucida handwriting;
	text-align:center;
	left: 50%;
	top: 50%;
}

.contents{
	color:white;
	font-size:48px;
	font-family:Calibri;
	text-align:center;
	left: 30%;
	top: 60%;
}

#portrait,#profiles{
	position:absolute;
	border-radius:99em;
	left: 50%;
	top: 30%;
  	width: 300px;
  	height: 300px;
	overflow-y: hidden;
}

a{
	display:block;
	font-size:20px;
	font-family:Lucida handwriting;
	color:grey;
	text-align:center;
	top:600px;
}
